.costume-switcher-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.costume-switcher-settings.inline-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.costume-switcher-note {
    font-size: 0.8em;
    color: var(--text-color-secondary);
    margin-top: 10px;
    text-align: center;
}
